.image {
    width: 150px; /* Set a specific width */
    height: 150px; /* Set the same height to make it a square */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    border-radius: 100%; /* Makes the image circular */
    overflow: hidden; /* Ensures any overflow is hidden */
    object-position: center; /* Centers the image within the container */
  }
  .category-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  